# macOS specific
.DS_Store

# Xcode specific
*.xcworkspace
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata/

# JUCE specific
JuceLibraryCode/
Builds/
.idea/
.vscode/

# System files
Thumbs.db
Desktop.ini

# Log files
*.log

# Swap files
*.swp

# Executables
*.exe

